{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block header %}
    <!-- Page Header -->
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/archive-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Archives</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
        <div class="blog-archives">
            {% for article in dates %}
                {% set year = article.date.strftime('%Y') %}
                {% if loop.first %}
                    <h1 id="{{ year }}"><a href="#{{ year }}">{{ year }}</a></h1>
                {% else %}
                    {% set prevyear = loop.previtem.date.strftime('%Y') %}
                    {% if prevyear != year %}
                        <h1 id="{{ year }}"><a href="#{{ year }}">{{ year }}</a></h1>
                    {% endif %}
                {% endif %}

                {% if loop.last %}
                    <div itemscope>
                {% else %}
                    
                    {% set next_year = loop.nextitem.date.strftime('%Y') %}

                    {% if next_year != year %}
                        <div itemscope class="last-entry-of-year">
                    {% else %}
                        <div itemscope>
                    {% endif %}
                {% endif %}

                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title }}
                    {% if article.subtitle %}
                    <small class="subtitle">
                        {{ article.subtitle }}
                    </small>
                    {% endif %}
                </a>
                <time itemprop="dateCreated" datetime="{{ article.date.strftime('%d %b %Y') }}">
                    {{ article.date.strftime('%d %b %Y') }}
                </time>
                </div>
            {% endfor %}
        </div>
{% endblock content %}
