{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block header %}
    <!-- Page Header -->
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/tags-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>All Tags</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <h2 class="list-of-tags">Tags</h2>
    <ul class="list-of-tags">
        {% for tag, articles in tags|sort %}
        <li>
        {% set num = articles|count %}
        <a href="#{{ tag.slug }}-ref">{{ tag }}<span class="superscript">{{ num }}</span></a>
        </li>
        {% endfor %}
    </ul>

    {% for tag, articles in tags|sort %}
        <h3 id="{{ tag.slug }}-ref" class="tag-title">{{ tag }}</h3>
        <ul class="list-articles-under-tag-category">
            {% for article in articles|sort(reverse = true, attribute = 'date') %}
            <li itemscope>
                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title }}
                    {% if article.subtitle %}
                    <small class="subtitle">
                        {{ article.subtitle }}
                    </small>
                    {% endif %}
                </a>
                <time itemprop="dateCreated" datetime="{{ article.date.strftime('%d %b %Y')  }}">
                    {{ article.date.strftime('%d %b %Y')  }}
                </time>
            </li>
            {% endfor %}
        </ul>

        {% endfor %}
    

    
    {# <h1>Tags for {{ SITENAME }}</h1>
    {%- for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
    {% endfor %} #}
{% endblock content %}
